includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - app/
        - config/
        - database/
        - routes/
        - public/
    excludePaths:
        - vendor/
        - storage/
        - tests/
    universalObjectCratesClasses:
        - Siro\Core\Model
