<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="false">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">../siro-core</directory>
        </include>
        <exclude>
            <directory suffix=".php">../siro-core/tests</directory>
            <directory suffix=".php">../siro-core/vendor</directory>
            <directory suffix=".php">../siro-core/Commands</directory>
        </exclude>
    </source>

</phpunit>
